<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="admin">
 	<select id="notice_list" resultType="noticevo">
 		select * from pjnotice order by noticeIdx desc
 	</select>
 	
 	<insert id="notice_insert" parameterType="noticevo">
 		insert into pjnotice(noticeSubject, noticeFile, noticeContent, noticeReg, noticeLevel, noticeStatus) 
 		values(#{noticeSubject}, #{noticeFile}, #{noticeContent}, now(), #{noticeLevel}, #{noticeStatus})
 	</insert>
 </mapper>