<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main">

    <select id="randomList" resultType="tdvo">
        SELECT * FROM travellistdb ORDER BY RAND() LIMIT 3
    </select>

    <!-- 키워드 및 지역 기반 검색 -->
    <select id="getSearchKeyRegion" parameterType="map" resultType="tdvo">
        SELECT * 
        FROM travellistdb
        WHERE 
            trrsrtNm LIKE CONCAT('%', #{keyword}, '%' ) 
            OR rdnmadr LIKE CONCAT('%', #{keyword}, '%' )  
            OR lnmadr LIKE CONCAT('%', #{keyword}, '%' )
            OR cnvnncFclty LIKE CONCAT('%', #{keyword}, '%' )
            OR recrtClturFclty LIKE CONCAT('%', #{keyword}, '%' )
            OR mvmAmsmtFclty LIKE CONCAT('%', #{keyword}, '%' )
            OR hospitalityFclty LIKE CONCAT('%', #{keyword}, '%' )
            OR stayngInfo LIKE CONCAT('%', #{keyword}, '%' )
            OR sportFclty LIKE CONCAT('%', #{keyword}, '%' )
            OR trrsrtIntrcn LIKE CONCAT('%', #{keyword}, '%')        
    </select>

    <!-- 상세 정보 가져오기 -->
    <select id="getDetailList" parameterType="String" resultType="tdvo">
            SELECT * FROM travellistdb WHERE travelIdx = #{travelIdx}
    </select>
    
    <select id="getWeatherList" resultType="wthrvo">
    	SELECT * FROM pjweather
    </select>
    
	<select id="count" parameterType="Map" resultType="int">
	    SELECT COUNT(*) 
	    FROM travellistdb 
	    WHERE 
	        (trrsrtNm LIKE CONCAT('%', #{keyword}, '%') 
	        OR rdnmadr LIKE CONCAT('%', #{keyword}, '%') 
	        OR lnmadr LIKE CONCAT('%', #{keyword}, '%') 
	        OR cnvnncFclty LIKE CONCAT('%', #{keyword}, '%') 
	        OR recrtClturFclty LIKE CONCAT('%', #{keyword}, '%') 
	        OR mvmAmsmtFclty LIKE CONCAT('%', #{keyword}, '%') 
	        OR hospitalityFclty LIKE CONCAT('%', #{keyword}, '%') 
	        OR stayngInfo LIKE CONCAT('%', #{keyword}, '%') 
	        OR sportFclty LIKE CONCAT('%', #{keyword}, '%') 
	        OR trrsrtIntrcn LIKE CONCAT('%', #{keyword}, '%'))
	        <if test="region != null and region != ''">
	            AND region = #{region}
	        </if>
	</select>
  	
	<select id="page_list" parameterType="Map" resultType="tdvo">
	    SELECT * 
	    FROM travellistdb 
	    WHERE 
	        (trrsrtNm LIKE CONCAT('%', #{tdvo.keyword}, '%') 
	        OR rdnmadr LIKE CONCAT('%', #{tdvo.keyword}, '%') 
	        OR lnmadr LIKE CONCAT('%', #{tdvo.keyword}, '%') 
	        OR cnvnncFclty LIKE CONCAT('%', #{tdvo.keyword}, '%') 
	        OR recrtClturFclty LIKE CONCAT('%', #{tdvo.keyword}, '%') 
	        OR mvmAmsmtFclty LIKE CONCAT('%', #{tdvo.keyword}, '%') 
	        OR hospitalityFclty LIKE CONCAT('%', #{tdvo.keyword}, '%') 
	        OR stayngInfo LIKE CONCAT('%', #{tdvo.keyword}, '%') 
	        OR sportFclty LIKE CONCAT('%', #{tdvo.keyword}, '%') 
	        OR trrsrtIntrcn LIKE CONCAT('%', #{tdvo.keyword}, '%')) 
	        <if test="tdvo.region != null and tdvo.region != ''">
	            AND region = #{tdvo.region} 
	        </if>
	    ORDER BY travelidx DESC 
	    LIMIT #{limit}, #{offset}
	</select>
	
	<insert id="insert" parameterType="tourtvo">
		insert into pjtourtalk (tourTalkIdx, userId, tourTalkContent, tourTalkReg, tourTalkEtc01, hit, travelIdx)
		values(#{tourTalkIdx}, #{userId},#{tourTalkContent}, now(), #{tourTalkEtc01}, 0, #{tourTalkEtc01})
	</insert>
	
	<select id="randomLoginList" parameterType="String" resultType="tdvo">
		SELECT * FROM (
		    SELECT * FROM travellistdb 
		    WHERE region = (SELECT userFavor01 FROM pjcustomer WHERE userId = #{userId})
		    ORDER BY RAND() LIMIT 1
		) AS subquery1
		UNION ALL
		SELECT * FROM (
		    SELECT * FROM travellistdb 
		    WHERE region = (SELECT userFavor02 FROM pjcustomer WHERE userId = #{userId})
		    ORDER BY RAND() LIMIT 1
		) AS subquery2
		UNION ALL
		SELECT * FROM (
		    SELECT * FROM travellistdb 
		    WHERE region = (SELECT userFavor03 FROM pjcustomer WHERE userId = #{userId})
		    ORDER BY RAND() LIMIT 1
		) AS subquery3;
	</select>
	
</mapper>