<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="mems">
 	<select id="login" parameterType="String" resultType="uservo">
		select * from pjcustomer where userId=#{userId}
 	</select>
 	
 	<select id="idchk" parameterType="String" resultType="int">
 		select count(*) from pjcustomer where userId = #{userId}
 	</select>
 	
 	<select id="emailchk" parameterType="String" resultType="int">
 		select count(*) from pjcustomer where userMail = #{userMail}
 	</select>
 	
 	<select id="phonechk" parameterType="String" resultType="String">
 		select userMail from pjcustomer where userPhone=#{userPhone}
 	</select>
 	
 	<update id="update" parameterType="uservo">
 		update pjcustomer set userName=#{userName}, userId=#{userId}, userPw=#{userPw}, userPhone=#{userPhone}, userMail=#{userMail}, 
 			userAddr=#{userAddr}, userLevel=1, userFavor01=#{userFavor01}, userFavor02=#{userFavor02}, userFavor03=#{userFavor03}, userUpdReg=now() 
 			where userPhone=#{userPhone}
 	</update>
 	
 	<insert id="insert" parameterType="uservo">
 		INSERT INTO pjcustomer (userName, userId, userPw, userPhone, userMail, userAddr, userLevel, userFavor01, userFavor02, userFavor03, userReg) 
        VALUES (#{userName}, #{userId}, #{userPw},#{userPhone}, #{userMail}, #{userAddr}, 1, #{userFavor01}, #{userFavor02}, #{userFavor03}, now())
 	</insert>
 	
 	<select id="idfind" parameterType="uservo" resultType="uservo">
 		select * from pjcustomer where userName=#{userName} and userMail=#{userMail}
 	</select>
 	
 	<select id="pwfind" parameterType="uservo" resultType="uservo">
 		select * from pjcustomer where userId=#{userId} and userMail=#{userMail}
 	</select>
 	
 	<update id="pwchange" parameterType="uservo">
 		update pjcustomer set userPw=#{userPw}, userUpdReg=now() where userId=#{userId}
 	</update>
 	
 	<update id="logintime" parameterType="uservo">
 		update pjcustomer set userConnReg=now() where userId=#{userId}
 	</update>

	<select id="selectNaverUserOne" parameterType="String" resultType="uservo">
		select * from pjcustomer where n_userId = #{n_userId}
	</select>
	
	<select id="selectKakaoUserOne" parameterType="String" resultType="uservo">
		select * from pjcustomer where k_userId = #{k_userId}
	</select>
	
	<!-- <insert id="userJoin2" parameterType="uservo">
		insert into pjcustomer (n_userId, userName, userPhone, userMail, userReg) 
		values(#{n_userId}, #{userName}, #{userPhone}, #{userMail}, now())
	</insert> -->
	
	<select id="phonechk2" parameterType="String" resultType="uservo">
		select * from pjcustomer where userPhone=#{userPhone}
	</select>
	
	<update id="naverupdate" parameterType="uservo">
		update pjcustomer set userName=#{userName}, userId=#{userId}, n_userId=#{n_userId}, userPw=#{userPw}, userPhone=#{userPhone}, userMail=#{userMail}, 
 			userAddr=#{userAddr}, userLevel=1, userFavor01=#{userFavor01}, userFavor02=#{userFavor02}, userFavor03=#{userFavor03}, userUpdReg=now() 
 			where userPhone=#{userPhone}
	</update>
	
	<insert id="naverinsert" parameterType="uservo">
		INSERT INTO pjcustomer (userName, userId, n_userId, userPw, userPhone, userMail, userAddr, userLevel, userFavor01, userFavor02, userFavor03, userReg) 
        VALUES (#{userName}, #{userId}, #{n_userId}, #{userPw}, #{userPhone}, #{userMail}, #{userAddr}, 1, #{userFavor01}, #{userFavor02}, #{userFavor03}, now())
	</insert>
	
	<update id="kakaoupdate" parameterType="uservo">
		update pjcustomer set userName=#{userName}, userId=#{userId}, k_userId=#{k_userId}, userPw=#{userPw}, userPhone=#{userPhone}, userMail=#{userMail}, 
 			userAddr=#{userAddr}, userLevel=1, userFavor01=#{userFavor01}, userFavor02=#{userFavor02}, userFavor03=#{userFavor03}, userUpdReg=now() 
 			where userPhone=#{userPhone}
	</update>
	
	<insert id="kakaoinsert" parameterType="uservo">
		INSERT INTO pjcustomer (userName, userId, k_userId, userPw, userPhone, userMail, userAddr, userLevel, userFavor01, userFavor02, userFavor03, userReg) 
        VALUES (#{userName}, #{userId}, #{k_userId}, #{userPw}, #{userPhone}, #{userMail}, #{userAddr}, 1, #{userFavor01}, #{userFavor02}, #{userFavor03}, now())
	</insert>
 </mapper>