<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tourTalk">
	<select id="list" parameterType="String" resultType="tourtvo">
		select * from tourTalk where travelIdx = #{travelIdx} order by tourTalkIdx desc
	</select>

	<insert id="insert" parameterType="tourtvo">		
		insert into tourTalk(userId, tourTalkContent, tourTalkReg, travelIdx) 
		values(#{userId},#{tourTalkContent},now(),#{travelIdx})
	</insert>
	
	<insert id="insertReport" parameterType="repvo">
	    INSERT INTO report (reporter, reportedUser, reportContent, tourTalkIdx, reportreg)
	    VALUES (#{reporter}, #{reportedUser}, #{reportContent}, #{tourTalkIdx}, NOW())
	</insert>
	
	<update id="increaseReportCount" parameterType="int">
    	UPDATE tourtalk SET report = report + 1 WHERE tourTalkIdx = #{tourTalkIdx}
	</update>
	
	<select id="getReportCount" parameterType="int" resultType="int">
	    SELECT report FROM tourtalk WHERE tourTalkIdx = #{tourTalkIdx}
	</select>
	
	<update id="deactivatePost" parameterType="int">
	    UPDATE tourtalk SET active = 1 WHERE tourTalkIdx = #{tourTalkIdx}
	</update>
	
</mapper>