<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="trvlplan">
	<select id="list" parameterType="String" resultType="tdvo">
		select * from travellistdb 
		where travelIdx in (select travelIdx from pjuserinterest where userId = #{userId})
		order by travelIdx
	</select>
	<select id="list_paged" parameterType="map" resultType="tdvo">
		select * from travellistdb 
		where travelIdx in (select travelIdx from pjuserinterest where userId = #{userId})
		<if test="region != null and region != ''">
            AND region = #{region} 
        </if>
		order by travelIdx limit #{limit} offset #{offset}
	</select>
	<select id="onelist" parameterType="String" resultType="tdvo">
		select * from travellistdb where travelIdx = #{travelIdx}
	</select>
	
	<insert id="insert_trvlplan" parameterType="tplvo">
		insert into pjtrvlplan (userId, region, trvlPlanSubject, trvlPlanDate, trvlPlanRegDate,
		trvlPlantrrsrtNm1, trvlPlantrrsrtNm2, trvlPlantrrsrtNm3, trvlPlantrrsrtNm4, trvlPlantrrsrtNm5, trvlPlanEtc01)
		values (#{userId}, #{region}, #{trvlPlanSubject}, #{trvlPlanDate}, now(),
		#{trvlPlantrrsrtNm1}, #{trvlPlantrrsrtNm2}, #{trvlPlantrrsrtNm3}, #{trvlPlantrrsrtNm4}, #{trvlPlantrrsrtNm5}, #{trvlPlanEtc01})
	</insert>
	<select id="select_trvlplans" parameterType="map" resultType="tplvo">
		select * from pjtrvlplan where userId = #{userId} order by trvlPlanRegDate desc
		limit #{limit} offset #{offset}
	</select>
	<select id="select_onetrvlplan" parameterType="String" resultType="tplvo">
		select * from pjtrvlplan where trvlPlanIdx = #{trvlPlanIdx}
	</select>
	<update id="update_trvlplan" parameterType="tplvo">
		update pjtrvlplan set trvlPlanSubject = #{trvlPlanSubject}, trvlPlanDate = #{trvlPlanDate},
		trvlPlanRegDate = now(),
		trvlPlantrrsrtNm1 = #{trvlPlantrrsrtNm1}, trvlPlantrrsrtNm2 = #{trvlPlantrrsrtNm2},
		trvlPlantrrsrtNm3 = #{trvlPlantrrsrtNm3}, trvlPlantrrsrtNm4 = #{trvlPlantrrsrtNm4},
		trvlPlantrrsrtNm5 = #{trvlPlantrrsrtNm5} where trvlPlanIdx = #{trvlPlanIdx}
	</update>
	
	<select id="count" parameterType="map" resultType="int">
		select count(*) from pjuserinterest where userId = #{userId}
		<if test="region != null and region != ''">
            AND region = #{region}
        </if>
	</select>
	<select id="plan_count" parameterType="String" resultType="int">
		select count(*) from pjtrvlplan where userId = #{userId}
	</select>
	<delete id="unlike" parameterType="map">
		delete from pjuserinterest where userId = #{userId} and travelIdx = #{travelIdx}
	</delete>
	<insert id="like" parameterType="map">
		insert into pjuserinterest (userId, travelIdx, region) 
		values (#{userId}, #{travelIdx}, #{region})
	</insert>
	<select id="get_userfavs" parameterType="String" resultType="userintvo">
		select * from pjuserinterest where userId = #{userId}
	</select>
	
	<delete id="delete_trvlplan" parameterType="map">
		delete from pjtrvlplan where userId = #{userId} and trvlPlanIdx = #{trvlPlanIdx}
	</delete>
</mapper>